<div class="twelve columns">
  <form novalidate>
  <textarea ng-model="messageSend" name="messageSend" class="u-full-width"></textarea>
  <input name="submit" type="submit" ng-click="update()" value="Save & Send" />
  </form>
  <b>Message:</b> {{messageSend}} <br>
  <b><p>{{completed}}</p></b>
</div>
